/* Fichier menu.css qui comprend le style pour les elements de la page pricipale du site avec le menu */

body {
  background-color:#6495ED;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

.connecte {
  border-radius: 100%;
  background-color:#04fb1a;
  color: #04fb1a;
  width:2px;
  height:2px;
}

.deconnecte {
  border-radius: 100%;
  background-color:#888c8b;
  color: #888c8b;
  font-size: 7px;
}

.occupe {
  border-radius: 100%;
  background-color:#fb8b04;
  color: #fb8b04;
  font-size: 7px;
}

table[id="tab-users"] {
  empty-cells: show;
  background-color:#c0fcfc;
  margin:auto;
  text-align: center;
  border-collapse:collapse;
}

tr[id="tr-users"] {
  background-color:#c0fcfc;
  padding:23px;
  width:100px;
  height:100px;

}

tr[id="tr-clientEnJeu"] {
  padding:23px;
  width:100px;
  height:100px;
  color:red;
  background-color:yellow;
  font-weight: bold;
}

tr[id="tr-titleUsers"] {
  padding:23px;
  width:100px;
  height:100px;
  background-color:#0a6464;
  font-weight: bold;
}

td[id="td-users"] {
  border:1px solid black;
  padding:23px;
  width:50px;
  height:50px;
}
